<%= form_for(@cupboard) do |f| %>
  <% if @cupboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cupboard.errors.count, "error") %> prohibited this cupboard from being saved:</h2>

      <ul>
      <% @cupboard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label>
    Name: <%= f.text_field :name %>
  </label>

  <%= f.submit 'Create', class: 'button' %>
<% end %>
