<% content_for :title, 'Cupboards' %>
<p id="notice"><%= notice %></p>

<h4>
  Cupboards
  <small> <%= link_to 'NEW', new_cupboard_path, class: 'success label' %></small>
</h4>

<hr>

<table>
  <thead>
    <tr>
      <th width="200">Name</th>
      <th width="150"></th>
    </tr>
  </thead>

  <tbody>
    <% @cupboards.each do |cupboard| %>
      <tr>
        <td><%= cupboard.name %></td>
        <td>
          <%= link_to 'Edit', edit_cupboard_path(cupboard), class: 'warning label' %>
          <%= link_to 'Destroy', cupboard, method: :delete, data: { confirm: 'Are you sure?' }, class: 'alert label' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
