<h4>Editing User</h4>

<hr>

<%= form_for @user, url: update_profile_path, method: :put do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <label>
    E-mail Address: <%= f.text_field :email %>
  </label>

  <label>
    First Name: <%= f.text_field :first_name %>
  </label>

  <label>
    Last Name: <%= f.text_field :last_name %>
  </label>

  <label>
    Password: <%= f.password_field :password %>
  </label>

  <label>
    Password: <%= f.password_field :password_confirmation %>
  </label>

  <% if current_user.officer? %>
    <label>
      Active: <%= f.select :active, [:true, :false].map { |a| [a.to_s.capitalize, a]} %>
    </label>
  <% end %>

  <%= f.submit 'Update', class: 'button' %>
<% end %>
