<% content_for :title, 'Borrowers' %>
<p id="notice"><%= notice %></p>

<h4>
  Borrowers
</h4>

<hr>

<table>
  <thead>
    <tr>
      <th width="100">E-mail</th>
      <th width="250">Name</th>
      <th width="100">Acct Status</th>
      <th width="150"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= account_status user %></td>
        <td>
          <%= link_to 'Show', user, class: 'label' %>
          <%= link_to 'Edit', edit_user_path(user), class: 'warning label' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
