<% content_for :title, "Borrower Details" %>
<p id="notice"><%= notice %></p>

<h4>
  Borrower Details
</h4>

<hr>

<label>
  Name: <%= @user.name %>
</label>

<label>
  E-mail: <%= @user.email %>
</label>

<label>
  Acct Status: <%= account_status @user %>
</label>

<label>
  Fines: <%= @user.fined? ? @user.total_fines : "No existing fines" %>
</label>

<br>

<h5>
  Borrower's Item History
</h5>
<hr>

<%= render partial: 'borrowed_items/tabs',
            locals: { fixed_assets: @user.borrowed_items.latest_fixed_assets,
                       consumables: @user.borrowed_items.latest_consumables } %>

<%= dynamic_edit_user_link %>
