<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1>
        <%= link_to 'Research Bods', root_path %>
      </h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">

      <% if user_signed_in? %>

        <li class="has-dropdown">
          <%= link_to "#{current_user.email}", profile_path %>
          <ul class="dropdown">
            <li>
              <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </li>

      <% else %>

        <li>
          <%= link_to 'Log in', root_path %>
        </li>

      <% end %>
    </ul>

  </section>
</nav>
