<ul class="side-nav">
  <% if current_user.officer? %>
    <li>
      <%= link_to 'Borrowers', users_path %>  
    </li>
    <li>
      <%= link_to 'Cupboards', cupboards_path %>
    </li>
    <li>
      <%= link_to 'Items', items_path %>
    </li>
  <% end %>
  <li>
    <%= link_to dynamic_borrowed_items_label, borrowed_items_path %>
  </li
</ul>
