<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label>
    Name: <%= f.text_field :name %>
  </label>

  <label>
    Description: <%= f.text_area :description %>
  </label>

  <label>
    Quantity: <%= f.text_field :quantity %>
  </label>

  <label>
    Item Type: <%= f.select :item_type, Item.item_types.keys.map {|k| [k.titleize, k] } %>
  </label>

  <label>
    Product Code: <%= f.text_field :product_code %>
  </label>

  <label>
    Cupboard:
    <%= f.select :cupboard_id, Cupboard.all.map { |c| ["#{c.name}", c.id]} %>
  </label>

  <%= f.submit 'Create', class: 'button' %>
<% end %>
