<table>
  <thead>
    <tr>
      <th width="200">Borrowed by</th>
      <th width="200">Borrowed at</th>
      <th width="200">Due on</th>
      <%= '<th width="200">Returned at</th>'.html_safe if @item.fixed_asset? %>
    </tr>
  </thead>

  <tbody>
    <% borrowed_items.each do |borrowed_item| %>
      <tr>
        <td><%= borrowed_item.user.name %></td>
        <td><%= borrowed_item.borrowed_at.strftime("%b %e, %Y") %> </td>
        <td><%= borrowed_item.due_on.strftime("%b %e, %Y")%></td>
        <%= "<td>#{dynamic_returned_at_value borrowed_item}</td>".html_safe if borrowed_item.fixed_asset? %>
      </tr>
    <% end %>
  </tbody>
</table>
