<% content_for :title, 'Items' %>
<p id="notice"><%= notice %></p>

<h4>
  Items
  <small> <%= link_to 'NEW', new_item_path, class: 'success label' %></small>
</h4>

<hr>
<table>
  <thead>
    <tr>
      <th width="100">Code</th>
      <th width="200">Name</th>
      <th width="100">Quantity</th>
      <th width="100">Type</th>
      <th width="200"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.product_code %></td>
        <td><%= item.name %></td>
        <td><%= item.quantity %> </td>
        <td><%= item.item_type.titleize %></td>
        <td>
          <%= link_to 'Show', item, class: 'label' %>
          <%= link_to 'Edit', edit_item_path(item), class: 'warning label' %>
          <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'alert label' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
