<% content_for :title, 'Item Details' %>
<p id="notice"><%= notice %></p>

<h4>
  Item Details
</h4>
<hr>

<label>
  Cupboard: <%= @item.cupboard.name %>
</label>

<label>
  Name: <%= @item.name %>
</label>

<label>
  Item Type: <%= @item.item_type.titleize %>
</label>

<label>
  Quantity: <%= @item.quantity %>
</label>

<label>
  Product Code: <%= @item.product_code %>
</label>
<hr>
<label>
  Description: <br>
  <%= @item.description %>
</label>

<br>

<h5>
  Item History
</h5>
<hr>

<%= render partial: 'history', locals: { borrowed_items: @item.borrowed_items.recently_updated } %>
