<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Research Bods Stationery Management" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render :partial => 'shared/header' %>
    <br>
    <% if user_signed_in? %>
    <div class="row">
        <div class="large-3 columns">
          <%= render :partial => 'shared/sidebar' %>
        </div>

      <div class="large-9 columns">
        <%= yield %>
      </div>
    </div>
    <% else %>
      <%= yield %>
    <% end %>


  </body>
</html>
