<table>
  <thead>
    <tr>
      <th width="80">Code</th>
      <th width="200">Name</th>
      <%= '<th width="200">Borrowed by</th>'.html_safe if current_user.officer? %>
      <th width="170">Borrowed at</th>
      <th width="170">Due on</th>
      <%= '<th width="170">Returned at</th>'.html_safe if current_user.officer? %>
      <%= '<th width="100"></th>'.html_safe if current_user.officer? %>
    </tr>
  </thead>

  <tbody>
    <% borrowed_items.each do |borrowed_item| %>
      <tr>
        <td><%= borrowed_item.item.product_code %></td>
        <td><%= borrowed_item.item.name %></td>
        <%="<td> #{borrowed_item.user.name} </td>".html_safe if current_user.officer? %>
        <td><%= borrowed_item.borrowed_at.strftime("%b %e, %Y") %> </td>
        <td><%= borrowed_item.due_on.strftime("%b %e, %Y")%></td>
        <%="<td> #{dynamic_returned_at_value borrowed_item }</td>".html_safe if current_user.officer? %>
        <%= "<td>#{dynamic_return_link borrowed_item}</td>".html_safe if current_user.officer? && borrowed_item.fixed_asset? && !borrowed_item.returned? %>
      </tr>
    <% end %>
  </tbody>
</table>
