<h4>
  Items
</h4>

<hr>

<table>
<thead>
    <tr>
      <th width="150">Cupboard</th>
      <th width="100">Code</th>
      <th width="250">Name</th>
      <th width="100">Quantity</th>
      <th width="100"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.cupboard.name %></td>
      <td><%= item.product_code %></td>
      <td><%= item.name %></td>
      <td><%= item.quantity %> </td>
      <td><%= dynamic_borrow_link item %></td>
    </tr>
    <% end %>
  </tbody>
</table>
