<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#panel1">Fixed Assets</a></li>
  <li class="tab-title"><a href="#panel2">Consumables</a></li>
</ul>
<div class="tabs-content">
  <div class="content active" id="panel1">
    <%= render partial: 'borrowed_items/borrowed_items', locals: { borrowed_items: fixed_assets } %>
  </div>
  <div class="content" id="panel2">
    <%= render partial: 'borrowed_items/borrowed_items', locals: { borrowed_items: consumables } %>
  </div>
</div>
