<% content_for :title, dynamic_borrowed_items_label %>
<p id="notice"><%= notice %></p>

<h4>
  Borrowed Items
</h4>

<hr>

<%= render partial: 'tabs', locals: { fixed_assets: @fixed_assets, consumables: @consumables } if current_user.officer? %>
<%= render partial: 'borrowed_items', locals: { borrowed_items: @borrowed_items } if current_user.borrower? %>
<%= render partial: 'items' if current_user.borrower? %>

<br>

<% if current_user.borrower? %>
  <h5>
    Current Fine: <%= current_user.fined? ? current_user.total_fines : "None" %>
  </h5>
<% end %>
